[submodule "lib/dss-test"]
	path = lib/dss-test
	url = https://github.com/makerdao/dss-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/metamorpho"]
	path = lib/metamorpho
	url = https://github.com/morpho-org/metamorpho
