/out
/cache
/broadcast
resource_errors.json
/script/input/*/*.json
!/script/input/*/template-*.json
/script/output/*/*.json

# certora
*autoFinder_*
.*certora*
.last_confs/
*.zip
.zip-output-url.txt
certora_debug_log.txt
